<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>Visualisasi Data Cabai</title>
    <link rel="stylesheet" href="/lib/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="/dist/output.css" />
    <style>
      .dt-search{
        display: none;
      }
    </style>
  </head>
  <body class="w-full flex">
    <sidebar
      class="fixed top-0 left-0 overflow-y-auto max-h-[calc(100vh)] w-[200px]"
    >
      <table class="min-w-full border border-gray-200">
        <thead class="bg-gray-100 sticky top-0">
          <tr>
            <th class="px-4 py-2 text-left text-gray-600">Index</th>
            <th class="px-4 py-2 text-left text-gray-600">Kecamatan</th>
          </tr>
        </thead>
        <tbody>
          {% for kec in kecs %}
          <tr class="hover:bg-gray-50">
            <td class="px-4 py-2 border-t border-gray-200">{{ loop.index }}</td>
            <td class="px-4 py-2 border-t border-gray-200">{{ kec }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </sidebar>

    <main class="w-[100% - 200px] relative left-[200px] flex flex-col items-stretch gap-10">
      <div class="w-full flex flex-col gap-5 p-10 shadow-lg">
        <!-- HEADER -->
        <header class="text-center py-10">
          <h1 class="text-4xl md:text-5xl font-extrabold">
            📊
            <span
              class="tracking-tight bg-linear-to-r from-teal-400 to-cyan-500 bg-clip-text text-transparent"
              >Dataset Cabai per Kecamatan</span
            >
          </h1>
          <p class="text-gray-400 mt-2 text-sm md:text-base">
            Visualisasi data hasil pertanian berdasarkan kecamatan dan tahun
          </p>
        </header>
        <!-- FILTER -->
        <section class="w-full mx-auto px-4 md:px-8 mb-8">
          <div
            class="futuristic-card flex flex-col md:flex-row gap-4 md:gap-6 p-5 rounded-2xl justify-center items-center"
          >
            <!-- Input Kecamatan -->
            <div
              class="w-full md:w-auto flex flex-col md:flex-row items-center gap-2"
            >
              <label for="search-kecamatan" class="font-semibold text-teal-300"
                >Kecamatan</label
              >
              <input
                type="url"
                name="url"
                id="search-kecamatan"
                class="w-full md:w-64 border border-teal-400 rounded-lg py-2 px-4 focus:ring-2 focus:ring-teal-400 focus:outline-none"
                placeholder="Cari nama kecamatan..."
              />
            </div>

            <!-- Filter Tahun -->
            <div
              class="w-full md:w-auto flex flex-col md:flex-row items-center gap-2"
            >
              <label for="search-tahun" class="font-semibold text-teal-300"
                >Tahun</label
              >
              <select
                name="search-tahun"
                id="search-tahun"
                class="w-full md:w-40 border border-cyan-400 rounded-lg py-2 px-4 focus:ring-2 focus:ring-cyan-400 focus:outline-none"
              >
                <option value="">Semua Tahun</option>
              </select>
            </div>
          </div>
        </section>

        <!-- TABLE -->
        <div class="w-full mx-auto px-4 md:px-8">
          <div
            class="futuristic-card rounded-2xl p-4 overflow-x-auto flex flex-col gap-5"
          >
            <h1 class="text-center text-2xl font-bold">
              Data Cabai per Kecamatan
            </h1>

            <table id="tabel-data" class="display w-full text-sm">
              <thead class="text-teal-300 border-b border-gray-700">
                <tr>
                  <th>Tahun</th>
                  <th>Kecamatan</th>
                  <th>Luas Panen Cabe Rawit</th>
                  <th>Produktivitas Cabe Rawit</th>
                  <th>Produksi Cabe Rawit</th>
                  <th>Curah Hujan</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="w-full flex flex-col p-10 shadow-lg">
        <h1 class="font-bold text-2xl">
          Visualisasi Pelatihan Model (STGCN-LSTM)
        </h1>
        <div class="w-full flex items-start gap-10">
          <img src="/img/konvergensi.png" />
          <!-- <p>Grafik Konvergensi Training dan Validation Loss</p> -->
          <div class="w-full flex flex-col gap-3">
            <p class="text-xl">
              Ringkasan Nilai Training dan Validation Loss per 20 Epoch
            </p>
            <table class="min-w-full border border-gray-200 text-sm">
              <thead class="bg-gray-100 sticky top-0">
                <tr>
                  <th class="px-4 py-2 text-left text-gray-600">Epoch</th>
                  <th class="px-4 py-2 text-left text-gray-600">
                    Training Loss
                  </th>
                  <th class="px-4 py-2 text-left text-gray-600">
                    Validation Loss
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for trainval in trainvals %}
                <tr class="hover:bg-gray-50">
                  <td class="px-4 py-2 border-t border-gray-200">
                    {{ trainval["Epoch"] }}
                  </td>
                  <td class="px-4 py-2 border-t border-gray-200">
                    {{ trainval["Training Loss"] }}
                  </td>
                  <td class="px-4 py-2 border-t border-gray-200">
                    {{ trainval["Validation Loss"] }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="w-full flex flex-col gap-5 p-10 shadow-lg">
        <h1 class="font-bold text-2xl">
          Visualisasi Pengujian dan Evaluasi Model STGCN-LSTM
        </h1>
        <div class="w-full flex flex-col gap-10">
          <div class="w-full flex flex-col gap-3">
            <p class="text-xl">Hasil Evaluasi Metrik Model</p>
            <table class="min-w-full border border-gray-200 text-sm">
              <thead class="bg-gray-100 sticky top-0">
                <tr>
                  <th class="px-4 py-2 text-left text-gray-600">Metrik</th>
                  <th class="px-4 py-2 text-left text-gray-600">Nilai</th>
                </tr>
              </thead>
              <tbody>
                {% for metrik in metriks %}
                <tr class="hover:bg-gray-50">
                  <td class="px-4 py-2 border-t border-gray-200">
                    {{ metrik["Metrik"] }}
                  </td>
                  <td class="px-4 py-2 border-t border-gray-200">
                    {{ metrik["Nilai"] }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="w-full flex flex-col gap-5">
          <p class="text-lg">SMAPE per Kecamatan (Data Test)</p>
          <img src="/img/smape.png" class="h-[400px] w-fit" />
        </div>
        <!-- <div class="w-full flex flex-col gap-5">
          <p class="text-lg">
            Grafik Prediksi Produksi Cabai Rawit per Kecamatan
          </p>
          <img src="/img/prediksi-cabai.png" class="h-[400px] w-fit" />
        </div> -->
        <div class="w-full flex flex-col gap-5">
          <p class="text-xl">
            Perbandingan Nilai Aktual dan Prediksi Produksi Cabai Rawit
          </p>
          <table class="min-w-full border border-gray-200 text-sm">
            <thead class="bg-gray-100 sticky top-0">
              <tr>
                <th class="px-4 py-2 text-left text-gray-600">
                  Kecamatan (Index)
                </th>
                <th class="px-4 py-2 text-left text-gray-600">Aktual</th>
                <th class="px-4 py-2 text-left text-gray-600">Prediksi</th>
                <th class="px-4 py-2 text-left text-gray-600">Selisih</th>
              </tr>
            </thead>
            <tbody>
              {% for aktual in aktuals %}
              <tr class="hover:bg-gray-50">
                <td class="px-4 py-2 border-t border-gray-200">
                  {{ aktual["Index"] }}
                </td>
                <td class="px-4 py-2 border-t border-gray-200">
                  {{ aktual["Aktual"] }}
                </td>
                <td class="px-4 py-2 border-t border-gray-200">
                  {{ aktual["Prediksi"] }}
                </td>
                <td class="px-4 py-2 border-t border-gray-200">
                  {{ aktual["Selisih"] }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <script src="/lib/jquery.js"></script>
    <script src="/lib/dataTables.min.js"></script>
    <script>
      const header = [
        { title: "Tahun", data: "Tahun", name: "Tahun" },
        { title: "Kecamatan", data: "Kecamatan", name: "Kecamatan" },
        {
          title: "Luas Panen Cabe Rawit",
          data: "Luas Panen Cabe Rawit",
          name: "Luas Panen Cabe Rawit",
        },
        {
          title: "Produktivitas Cabe Rawit",
          data: "Produktivitas Cabe Rawit",
          name: "Produktivitas Cabe Rawit",
        },
        {
          title: "Produksi Cabe Rawit",
          data: "Produksi Cabe Rawit",
          name: "Produksi Cabe Rawit",
        },
        { title: "Curah Hujan", data: "Curah Hujan", name: "Curah Hujan" },
      ];

      const table = new DataTable("#tabel-data", {
        data: [],
        columns: header,
        scrollX: true,
        responsive: true,
      });

      // --- Pencarian Kecamatan ---
      $("#search-kecamatan").on("keyup", function () {
        table.column(1).search($(this).val()).draw();
      });

      // --- Filter tahun ---
      const searchTahun = $("#search-tahun");
      searchTahun.on("change", function () {
        table.column(0).search($(this).val()).draw();
      });

      fetch("/data")
        .then((res) => res.json())
        .then((data) => {
          const listTahun = [...new Set(data.map((item) => item.Tahun))];
          searchTahun.empty();
          searchTahun.append(`<option value="">Semua</option>`);
          listTahun.forEach((tahun) => {
            searchTahun.append(`<option value=${tahun}>${tahun}</option>`);
          });
          console.log(listTahun);
          table.clear().rows.add(data).draw();
        });
    </script>
  </body>
</html>
